@import url("theme.css");

:root {
  --block-bg-opacity: 0.8;
}

/* .grid-item-card {
  color: white !important;
} */

.api-reference {
  color: white !important;
  background-color: rgba(29, 85, 110, var(--block-bg-opacity));
  /* set the color of the text to white regardless of the theme */
}

.quickstart {
  color: white !important;
  background-color: rgba(29, 85, 110, var(--block-bg-opacity));
  /* set the color of the text to white regardless of the theme */
}


.research {
  color: white !important;
  background-color: rgba(29, 85, 110, var(--block-bg-opacity));
  /* set the color of the text to white regardless of the theme */
}


.dark-light {
  /* disable hyperlink for image */
  pointer-events: none;

  /* set blend mode to normal to prevent darkening */
  mix-blend-mode: normal;

  /* set background color to transparent */
  background-color: transparent !important;
}

.system {
  /* disable hyperlink for image */
  pointer-events: none;

  /* set blend mode to normal to prevent darkening */
  mix-blend-mode: normal;
}

.bd-main .bd-content .bd-article-container {
  max-width: 100%;  /* default is 60em */
}
